[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
setuptools = "*"
"py3exiv2" = "*"
watchdog = "*"
numpy = "*"
"pyqt5" = "*"
requests = "*"
pygdal = "*"
opencv3 = "*"

[dev-packages]

[requires]
python_version = "3.6"
